<!DOCTYPE html>

<html lan="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Registrar Barbero</title>
</head>
<figure>
    <img src="" alt="">
</figure>
<h2>Registar Barbero</h2>
<form method="POST" name="registrarb" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="exampleInputText">Nombre</label><br>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Escribe aqui">
    <label for="exampleInputText">Registro</label><br>
    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Escribe aqui">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Descripcion</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <input type="submit" value="Registrar">
</form>
{% if estado %}
<h3>GUARDADO EXITOSAMENTE</h3>
{% endif %}

</html>